

// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)


$font-family-sans-serif: "Nanum Gothic", sans-serif;


.bg-azul{
    background-color: hwb(241 0% 32%);
    opacity: 0.5;
}

.bg-imagen-s{
  height: 45px; width: 45px; 
  background-image: url('../imgs/nube01s.png');
  background-repeat: no-repeat;

}

.box-sombra{

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-imagenmodelo{

  background-image: url("../resources/imgs/");

}

.o-rojo::after {
    content: "o";
    color: #d30f10;
  }

  .boxmain{

    height: 100vh;
    width: 100%;

  }

  .boxsection{

    border-style: solid;
    height: 100vh;
    width: 95%;


  }

  .subboxsection{
    margin-top: 15vh;
    border-style: solid;
    border-color: blue;
    height: 90vh;
    width: 100%;


  }


.bg-imagen{

  background-image: url("../imgs/Imagen1.svg");
  background-size: cover;



}


p[data-o-color="red"]::after {
    content: "o";
    color: var(--o-color);
  }


@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here